/* stylelint-disable indentation */

body {
    background-color: blanchedalmond;
}

main {
    max-width: 60%;
    margin: auto  ;
  }

h1{
    text-align: center;
  }

.d-flex{
    display: flex;
    justify-content: center;
  }

form {
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 0 20px;
  }

input {
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1rem;
    outline: none;
    border: none;
  }

p {
    display: inline;
}

.div {
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  font-weight: 500;
}
/* #mainList {
    justify-content: space-between;
}

#book {
    flex-direction: column;
} */
/* stylelint-enable indentation */
