@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

body {
  color: white;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

/* Navbar style */
.navigation {
  margin: 10px 30px;
}

.links {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.link-item {
  margin: 0 15px;
  font-weight: bold;
}

.part-one {
  display: flex;
  align-items: center;
}

.part-two {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  font-size: 20px;
  color: #E718D4;
}

#logo {
  font-size: 25px;
  font-weight: bolder;
}

#separator {
  width: 70%;
}

#date-string {
  text-align: center;
  color: #E718D4;
}

/* Main content style */
main {
  text-align: center;
  width: 50%;
  margin: auto;
}

#main-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  margin: 20px;
}

#main-list {
  border: 5px solid black;
}

.book-item {
  padding: 15px 15px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #E718D4;
  align-items: center;
}

.book-item button {
  font-size: 18px;
  border-radius: 15px;
  padding: 7px;
  font-weight: bold;
  color: white;
  background-color: #EC111D;
  border: none;
}

#second-title {
  display: none;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 30px;
}

form {
  display: none;
  border: 1px solid black;
  text-align: right;
  margin: auto;
  padding: 0 20px;
}

input {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color: #E718D4;
}
::placeholder {
  color: white;
  font-weight: bold;
  opacity: 1;
}

#sub {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #00FF04;
  border: none;
}
